__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
venv/
.env/
.venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.vscode/
.idea/
data/raw/
data/processed/*
data/marts/*
!data/processed/.gitkeep
!data/marts/.gitkeep
outputs/
*.db
*.sqlite
*.sqlite3
*.log
*.pbix
.env